i(class="far fa-star card-rating" data-rating='1')
i(class="far fa-star card-rating" data-rating='2')
i(class="far fa-star card-rating" data-rating='3')
i(class="far fa-star card-rating" data-rating='4')
i(class="far fa-star card-rating" data-rating='5')