.header-logo 
  i(class="fas fa-bars humburger toggle-nav")
  a(
    href="/"
  )
    h1(class='site-name') Lite Shop
.header-search
  input(type="text", name="" placeholder="Я ищу...")
  div(class='search-result hide')
.header-cabinet
  i(class="fas fa-shopping-cart head-cart__button")
  i(class="fas fa-balance-scale head-compare__button")
  a(
    href='/reg'
  )
    i(class="fas fa-sign-in-alt")
